<div class="container mx-auto px-4">
    <div class="w-full h-full max-w-xs mx-auto bg-white border-2 rounded-lg">
        <h2 class="text-xl font-semibold mb-4 p-4">{{ filter_heading }}</h2>

        <div *ngFor="let item of filterItems; let i = index" class=" accordion-item rounded-md mb-2">
            <div class="cursor-pointer hover:bg-blue-100 p-4 font-semibold flex items-center justify-between accordion-button w-full py-2 mt-3 text-left text-gray-800 rounded-t-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                (click)="toggleContent(i)">
                {{ item.title }}
                <span class="cursor-pointer material-symbols-outlined">
                    {{ drop_down_arrow }}
                </span>
            </div>
            <div class="accordion-content" [ngClass]="{ open: i === activeIndex }">
                <div class="pt-2 pb-2">
                    <div class="mt-2 px-4">
                        <div *ngFor="let option of item.optionList; let j = index"
                            class="cursor-pointer  flex items-center mt-4">
                            <input [id]="'option' + i + '_' + j" type="checkbox"
                                class="cursor-pointer form-checkbox h-6 w-6 text-blue-600"
                                [(ngModel)]="checkedItems[i][j]" />
                            <label [for]="'option' + i + '_' + j"
                                class="hover:text-blue-500 cursor-pointer ml-2 text-gray-400 text-xs">{{
                                option
                                }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-between mt-4 px-4 pb-4">
            <button (click)="clearAll()"
                class="hover:bg-red-400 hover:transition-all delay-100 hover:text-white on-click-animated text-blue-500 text-sm border rounded-lg px-4 py-2 w-28">
                {{ clear_btn_text }}
            </button>
            <button
                class="hover:bg-[#759edf] hover:transition-all delay-100 border-[#4a86e8] on-click-animated bg-blue-500 text-white px-4 py-2 rounded-lg text-sm w-28">
                {{ apply_btn_text }}
            </button>
        </div>
    </div>
</div>