@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
input:focus {
  border: none !important;
  outline: none !important;
}

.on-click-animated:active {
  transform: scale(0.95);
}
