input:focus {
  border: none !important;
}

@media screen and (max-width: 800px) {
  .section-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
